*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color:rgb(122, 207, 128);
}
.navigation ul{
    display: flex;
    gap: 20px  ;
    flex-wrap:wrap;
    list-style: none;
}
.navigation ul a{
    text-decoration: none;
    color: black;
    
}
.logo{
    font-size: 2em;
    font-weight: bold;
    color:white;
    font-family: fantasy;
}
.row1,.row2,.row3{
    display: flex;
    overflow: hidden;
    gap: 10px;
    padding: 10px;
}
.heart,.physician,.neurologist,.harmone,.bone,.brain,.skin,.eye,.child{
    width: 100%;
    border-radius: 5px;
    text-align: center;
    align-items: baseline;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 4px 4px 7px 3px grey;
    transition: height 1s , width 1s, transform 2s;
    object-fit: contain;
    
}
.reg{
  height: 40px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer; 
  background-color: antiquewhite;
  
}
.categories{
    gap: 20px;
    text-align: start;
    padding: 10px;
}
.hero{
    width: 100%;
    height:400px;
    overflow: hidden;
    border-radius: 10px;
    margin: 40px auto;
    
    
}
.slider{
    display: flex;
    width: 500%;
    animation: slide infinite transform 25s;
}
.slider img{
    width: 100%;
    height: 400px;
    object-fit: cover;
   
}

@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(-400%); }

  }